<a href="https://colab.research.google.com/github/AhmadAlabrash/machine-learning/blob/main/L1_L2_ReguilarizItion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('/content/sp.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_vector=v.fit_transform(df.Message)

In [14]:
X_vector

<5572x8709 sparse matrix of type '<class 'numpy.int64'>'
	with 74098 stored elements in Compressed Sparse Row format>

In [7]:
le = LabelEncoder()
df['spam']= le.fit_transform(df['Category'])
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [15]:
X,x,Y,y =train_test_split(X_vector,df.spam,train_size=0.8)

In [19]:
from sklearn import linear_model
om =linear_model.LinearRegression()
m.fit(X,Y)

Lasso()

In [22]:
print(m.score(x,y))
print(m.score(X,Y))

0.6194963918256043
0.9993197449678448

In [26]:
# HERE WE USE L1 FOR REGULAIZITION (TO REMOVE UNDERFITTING FROM OUR DATA)
mo= linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
mo.fit(X,Y)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [ ]:
print(mo.score(x,y))
print(mo.score(X,Y))

In [29]:
# HERE WE USE L2 (RIDGE) FOR REGULAIZITION
ridge_reg= linear_model.Ridge(alpha=50, max_iter=100, tol=0.1)

ridge_reg.fit(X, Y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [30]:
print(ridge_reg.score(x,y))
print(ridge_reg.score(X,Y))

0.7960317401118504
0.8494461203619091