<a href="https://colab.research.google.com/github/AhmadAlabrash/machine-learning/blob/main/Ro_save_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [10]:
from sklearn import linear_model
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [17]:
 import joblib
 import pickle

In [11]:
daf ={
    'area':[70,120,210,90,175],
    'price':[1450000,2500000,4500000,2000000,3750000],
}
df =pd.DataFrame(daf)
df

   area    price
0    70  1450000
1   120  2500000
2   210  4500000
3    90  2000000
4   175  3750000

In [12]:
re= linear_model.LinearRegression(  )
re.fit(df[['area']] ,df.price)

LinearRegression()

In [19]:
joblib.dump(re ,'re_model')


#################################################################################
with open('reModel','wb') as f :
 pickle.dump(re,f)

In [23]:
la_re = joblib.load('re_model')
la_re.predict([[45]])

#################################################################################

with open('/content/reModel','rb') as f:
 laRe =pickle.load(f)
laRe.predict([[45]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([947807.01754386])